@charset "utf-8";
$main-color: #25acdb;
@import "antd/dist/reset.css";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-helpers/bulma-helpers.sass";

* {
    box-sizing: border-box;
}

html,
body,
#__next {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

html {
    overflow: auto;
}

.background-cover-covalu {
    background-image: url("/img/cover-login.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

@media (max-width: 650px) {
    .background-mobile {
        background-image: url("/img/cover-login-mobile.png");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.ant-layout-sider,
.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub,
.ant-layout-sider-trigger {
    background-color: rgb(37, 172, 219) !important;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
    color: white;
}

.ant-form-item-label label {
    font-size: 0.75rem;
}

.ant-form-item-label {
    padding: 0px !important;
}

.ant-steps-item-title {
    font-size: 0.75rem !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: white;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected span {
    color: #1890ff;
}

.ant-layout-sider-zero-width-trigger {
    top: 11px;
    background-color: $main-color;
}

.full-width>.ant-row {
    width: 100% !important;
}

.card-style {
    border-radius: 20px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 4.19546px 5.24433px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: 400px;
    text-align: center;
}

.card-style-forms {
    border-radius: 20px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 4.19546px 5.24433px rgba(0, 0, 0, 0.25);
    // width: 400px;
    // height: 400px;
}

.card-style-profile {
    border-radius: 20px;
    background-color: white;
    padding: 24px;
    box-shadow: 0px 4.19546px 5.24433px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 250px;
    text-align: center;
}

.main-layout-container {
    height: inherit;
    overflow: hidden;
}

.main-layout-content-container {
    background-color: white;
    height: 100%;
    border-radius: 20px;
}

.main-layout-header-container,
.main-layout-children-container {
    background-color: $main-color;
}

.has-main-title-color {
    color: $main-color !important;
}

.has-main-background-color {
    background-color: $main-color !important;
}

.remove-margin-item-form>.ant-form-item {
    margin: 0px !important;
}

.primary-purple {
    background-color: #4e4c9e;
}

.text-purple {
    color: #4e4c9e;
}

.button-purple {
    background-color: #4e4c9e;
    border-color: #4e4c9e;
    border-radius: 10px;
}

.button-purple:hover {
    background-color: #6e6dc5;
    border-color: #6e6dc5;
}

.error-font-size-view {
    font-size: 170px;
}

.border-hover:hover {
    padding: 2px;
    box-shadow: 0px 1px 6px 1px rgba(150, 150, 150, 0.75);
    cursor: pointer;
}

.vertical-line {
    border: 1.5px solid $main-color;
    height: 100%;
    background-color: $main-color;
}

.scroll-y {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-y-auto {
    overflow-y: scroll;
}

.sticky-absolute {
    position: sticky;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(51, 133, 255);
    border-radius: 10px;
}

.section-scrollbar {
    overflow: auto;
    /*Graceful degradation para Firefox*/
    overflow: overlay;
}

/*Webkit(Chrome, Android browser, Safari, Edge...)*/
.section-scrollbar::-webkit-scrollbar {
    display: none;
}

.section-scrollbar:hover::-webkit-scrollbar {
    display: initial;
}

.section-scrollbar::-webkit-scrollbar-thumb {
    background-color: #09c;
}

.is-size-8 {
    font-size: 0.6rem !important;
}